<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container">
        <!-- Titulo -->
        <div class="container py-3">
            <h1 class="text-center display-5 text-warning">{{ titulo }}
                <i class="bi bi-award"></i>
            </h1>
        </div>
    </div>

    <!-- Grid principal -->
    <div class="container-fluid pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
            <!-- COntenedor del formulario -->
            <div class="border rounded-3 p-2">
                <!-- Aca va el formulario -->
                <form action="/guardar" method="post" autocomplete="off">
                    {{ forma.csrf_token }}
                    <!-- Valor id -->
                    <!-- <input type="hidden" name="id" id="id" value="{{ forma.id.data }}"/> -->
                     {{ forma.id(class_="form-control", id="id", type="hidden") }}
                    <!-- Campo de nombre -->
                     <div class="form-floating py-2">
                        <!-- <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                        <label for="nombre">Nombre</label> -->
                        {{ forma.nombre(class_="form-control", id="nombre", placeholder="Nombre") }}
                        {{ forma.nombre.label(class_="form-label", for_="nombre") }}
                     </div>
                     <!-- Apellido  -->
                     <div class="form-floating py-2">
                        <!-- <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                        <label for="apellido">Apellido</label> -->
                        {{ forma.apellido(class_="form-control", id="apellido", placeholder="Apellido") }}
                        {{ forma.apellido.label(class_="form-label", for_="apellido") }}
                     </div>
                     <!-- Membresía -->
                     <div class="form-floating py-2">
                        <!-- <input type="number" max="1500" class="form-control" id="membresia" placeholder="Membresía" >
                        <label for="membresia">Membresía</label> -->
                        {{ forma.membresia(class_="form-control", id="membresia", placeholder="Membresía") }}
                        {{ forma.membresia.label(class_="form-label", for_="membresia") }}
                     </div>
                     <div class="text-center py-2">
                        <!-- Botones -->
                        <!-- <button type="submit" class="btn btn-warning btn-sm me-3">
                            Guardar
                        </button> -->
                        {{ forma.guardar(class_="btn btn-warning btn-sm me-3") }}
                        <!-- <input type="reset" class="btn btn-danger btn-sm" value="Limpiar"/> -->
                         <a href="/limpiar" class="btn btn-danger btn-sm ">
                            Limpiar
                         </a>
                     </div>
                </form>
            </div>
            <!-- Contenedor del listado de clientes -->
            <div class="border rounded-3 p-2">
                <!-- Aca va el listado de clientes -->
                <table class="table table-striped table-hover">
                    <thead class="table-warning">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Membresía</th>
                        <th></th>
                    </thead>
                    <tBody>
                        {% for cliente in clientes %}

                        <tr>
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.apellido }}</td>
                            <td>{{ cliente.membresia }}</td>
                            <td class="text-center">
                                <div>
                                    <a href="/editar/{{cliente.id}}" class="btn btn-warning btn-sm me-3">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a href="/eliminar/{{cliente.id}}" class="btn btn-danger btn-sm " onclick="return confirm('¿Estas seguro de eliminar este cliente ?')">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tBody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>